@font-face {
    font-family: "TTNormsPro-Bold";
    src: url("../fonts/TTNormsPro-Bold/font.woff2") format("woff2"),
        url("../fonts/TTNormsPro-Bold/font.woff") format("woff");
}
@font-face {
    font-family: "TTNormsPro-Light";
    src: url("../fonts/TTNormsPro-Light/font.woff2") format("woff2"),
        url("../fonts/TTNormsPro-Light/font.woff") format("woff");
}
@font-face {
    font-family: "TTNormsPro-Medium";
    src: url("../fonts/TTNormsPro-Medium/font.woff2") format("woff2"),
        url("../fonts/TTNormsPro-Medium/font.woff") format("woff");
}
@font-face {
    font-family: "Sfprodisplay";
    src: url("../fonts/SFPRODISPLAY/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
    font-family: "Sfprodisplay";
    src: url("../fonts/SFPRODISPLAY/SFPRODISPLAYBOLD.OTF") format("truetype");
    font-weight: bold;
}